@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Urbanist', sans-serif; 
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  background-size: cover;
  background-repeat: no-repeat;
  color: azure;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; 
  align-items: center;     
}
